<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sept 2012</h4>
                                    <h4 class="subheading">Enrolled in Moscow State University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mathematics has always been the basis of natural science and engineering. As students we were not taught the methods to solve a particular problem but the ability to think and make decisions independently, to extract and analyze information from various sources. That is why my degree lets me into any problem in almost every professional sphere: from IT and finance to business management.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2015</h4>
                                    <h4 class="subheading">Started working at Autodesk</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> I had a pleasure to work in Autodesk Developer Network - a program that supports developers all over the world who customize Autodesk software, create plug-ins or tightly integrate Autodesk technology into their workflow. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2018</h4>
                                    <h4 class="subheading">Graduation. Master of Mathematics and Mechanics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Specialized in Mathematical Analysis yet found an application to the theory in biology/computer science/healthcare. The final thesis contains a research on consistent clustering of objects based on distinct types of features. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2018</h4>
                                    <h4 class="subheading">Relocation to San Francisco. Second Masters in Business Analytics!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Learning to use the power of large-scale consumer data and translate data statistics and analysis into impactful business decisions.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
